body{
    background-color: var(--mainColor);
}


.catalog_sectionHead{
    display: flex;
    justify-content: start;
    align-items: center;
    margin-top: 123px;
    margin-bottom: 60px;

}

.catalog_sectionHead_title{
    font-size: 25px;
    font-family: var(--fontMontserrat);
    font-weight: 900;
    line-height: 196.187%;
    color: var(--mainFontColor);
    margin-left:14.9% ;
    margin-right: 18.8%;
}
.catalog_sectionHead_list{
display: flex;
flex-direction: row;
gap: 40px;

}
.catalog_sectionHead a{
    text-decoration: none;
    color: var(--mainFontColor);
}


/* swiper css............................................................ */



.catalog_sliderSection{
  margin-bottom: 100px;
  position: relative;

}
.swiper {
    padding-left: 50px; 
display: flex;
    margin-left:11.3% ;
    margin-right: 11.3%;
    

   
  }

  .swiper-slide{
    display: flex;
    padding-left: 40px;
    padding: 10px;
    /* gap: 90px; */


    /* width: 100%; /* veya istediğiniz bir genişlik */
    /* box-sizing: border-box; */

  }

  .swiper-slide-container{
    width:193px ;
    height: 332px;
    display: flex;
    background-color: #fff;
     flex-direction: column;
    align-items: center;
    padding-top: 20px;
    /* top: 40px; */
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.25);
    position: relative;
  }
  .slide_img{
width: 134px;
background-color: #EB5757;
height: 179px;
object-fit: cover;
margin-bottom: 15px;
text-align: center;
object-fit: cover;
margin-left: 25px;
margin-right: 25px;
  }

.slide_img img{
    width: 100%;
    height: 100%;


}
  .catalog_slide_body{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .catalog_slide_title{
    font-size: 14px;
    font-family: var(--fontMontserrat);
    font-weight: 700;
    line-height: 196.187%;
    color: var(--mainFontColor);
   

  }
 
  .catalog-slide-author{
    font-size: 12px;
    font-weight: 400;
    line-height: 196.187%;
    color: var(--mainFontColor);
  }
  .catalog-readMoreBtn{
    background-color: var(--mainOrange);
    color: #fff ;
    font-family: var(--fontMontserrat);
    font-size: 12px;
    font-weight: 900;
    line-height: 196.187%;
    text-transform: uppercase;
    padding-left: 27px;
    padding-right: 27px;
    height: 29px;
    border: none;
    box-shadow: 0px 3px 8px 0px rgba(225, 106, 0, 0.19);
border-radius: 3px;
cursor: pointer;
/* margin-bottom: 20px; */
  }

  .swiper-button-next{
    color: var(--mainRed);
margin-right: 6%;
margin-top: 30px;
z-index: 1000;

}
  .swiper-button-prev{
    color: var(--mainRed);
margin-left: 7%;
margin-top: 30px;
  }
  #swiper1next,#swiper1prev{
    margin-top: 0px;
  }
  .titleDiv {
    overflow-y: auto; /* Yatay (horizontal) scrollbar'ı aktif etmek için "auto" kullanabilirsiniz */
    /* max-height: 50px; 
    min-height: 50px; */
    max-width: 136px; 
    max-width: 136px;
      overflow: hidden;
    white-space: nowrap;
    padding: 0px;
  }
  .section_title{
    font-family: var(--fontMontserrat);
    font-size: 25px;
    font-weight: 900;
    line-height: 196.187%;
    display: flex;
    color: var(--mainFontColor);
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
  }
  .book_isNew{
   background-color:#EB5757;
    position: absolute;
    right: 0px;
    top:0px;
    width: 47px;
    height: 13.5px;
    font-size: 9px;
    font-weight: 900;
    font-family: var(--fontMontserrat);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    visibility: hidden;
  }

  .new_releases{
    background-color:#EB5757;
    position: absolute;
    right: 0px;
    top:0px;
    width: 47px;
    height: 13.5px;
    font-size: 9px;
    font-weight: 900;
    font-family: var(--fontMontserrat);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 3px;
    visibility: visible;

  }
  

#swiper1Books, #swiper3Books, #swiper2Books{
  display: flex;
gap: 22px;}

