body {
  background-color: var(--mainColor);
}

.contact_us {
  color: var(--mainFontColor);
  font-family: var(--fontMontserrat);
  font-size: 36px;
  font-style: normal;
  font-weight: 900;
  line-height: 196.187%; 
  padding-left: 14.6%;
  margin-top: 110px;
}

.form_div {
  display: flex;
  padding-left: 14.3%;
  padding-top: 30px;
  gap: 40px;
}

.input_box1 input {
  width: 100%;
  height: 75px;
}

.input_box2 input {
  width: 100%;
  height: 75px;
}

.input_box1 {
  width: 43%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.input_box2 {
  width: 43%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.form_div input {
  color: #797667;
  font-size: 23px;
  font-family: var(--fontCrimson);
  padding: 26px 34px;

  border: 1px solid #cecece;
  background-color: #fff;
}

.phone_input::-webkit-outer-spin-button,
.phone_input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.note_btnDiv {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-left: 14.2%;
  margin-top: 35px;
  gap: 6px;
}

.count_div{
  width: 90%;

}

.count_word {
  padding: 10px;
text-align: right;
}

.note_btnDiv textarea {
  width: 89%;
  height: 153px;
  color: #797667;
  font-size: 23px;
  font-family: var(--fontCrimson);
  padding: 26px 34px;

  border: 1px solid #cecece;
  background-color: #fff;
  resize: none;
}

.btn_div {
  width: 100%;
  padding-left: 20%;
  padding-top: 45px;
  padding-bottom: 112px;
}

.btn_send {
  width: 60%;
  height: 75px;
  text-align: center;
  padding: 17px;
  cursor: pointer;
  background-color: var(--mainOrange);
  border: 1px solid #cecece;
  font-size: 30px;
  font-family: var(--fontCrimson);
  font-weight: 400;
  color: #fff;
  opacity: 1;
  transition: all 0.3s ease;

}


.btn_send:hover{
    transform: scale(1.05);
     opacity: 0.8    
}

.success{
  width: 89%;
  height: 85px;
  background-color: #d2f3e280;
  margin-top: 20px;
  border: none;
  padding: 12px;
  border-radius: 4px;
  display: none;

}


.successfull{
font-family: var( --fontRoboto);
color: #065633;
font-size: 18px;
font-weight: 800;
padding: 5px;
}


.succes_info{

font-family: var( --fontRoboto);
color: #065633;
font-size: 18px;
font-weight: 500;
padding: 5px;

}



.danger{
  width: 89%;
  height: 85px;
  background-color: #fadddff3;
  margin-top: 20px;
  border: none;
  padding: 12px;
  border-radius: 4px;
  display: none;

}



.error{
  font-family: var( --fontRoboto);
  color: rgb(195, 41, 59) ;
  font-size: 18px;
  font-weight: 800;
  padding: 5px;

  }
  
  .error_info{
    font-family: var( --fontRoboto);
    color: rgb(195, 41, 59) ;
    font-size: 18px;
    font-weight: 500;
    padding: 5px;
  
    }
    







 