.login_container{
    background-color: var(--mainRed);
    height: 150vh;
}
.login_logo{
    padding-top: 74.96px;
    padding-left: 35px;
}
.login_body{

    margin-top: 100px;
   
}
.login_formDiv{
    background-color: #fff;
    width: 45.9%;
    height: 37.7%;
    display: flex;
    flex-direction: column;
    padding-left: 54.53px;
    padding-right: 54.53px;
    padding-top: 69px;
    margin-left: 33%;

}

.login_formDiv p{
    font-size: 44px;
    font-weight: 700;
    text-align: center;
    color: var(--mainFontColor);
    font-family:  var(--fontMontserrat);
    margin-bottom: 50px;
    
}
#login_form{
    display: flex;
    flex-direction: column;
    gap: 34px;
}

#login_form input{
    border: 1px solid #CECECE;
    background-color: #fff;
    height: 74.541px;
    padding-left: 51.64px; 
    font-size: 19px; 
    font-family: var(--fontCrimson);

}
#login_form button{
    background-color: var(--mainOrange);
color: white;
font-family: var(--fontCrimson);
font-size: 19px;
font-weight: 700;
border: none;
cursor: pointer;
height: 74.541px;
margin-top: 50px;
margin-bottom: 34px;
border-radius: 5px;
}


.errorDiv{
    position:fixed;
    z-index: 9999;
    top: 20px;
    right: 20px;
    padding: 20px;
    border-radius: 10px;
    background-color: red;
    display: none;
    color: #fff;
    font-family: var(--fontMontserrat);
}


@media screen and (max-width: 675px){
.login_body{
    display: flex;
}
    .login_formDiv p{
        font-size: 20px;

    }

    #login_formDiv{
        width: 229px;

        display: flex;
        flex-direction: column;
        gap: 21px;
        align-items: center;
    
        /* background-color: azure; */
    }
    #login_form{
        display: flex;
        flex-direction: column;
        gap: 21px;
        margin-left: 2px;
        margin-right: 1px;
    }

    #login_form input{
        height: 40px;
        padding-left: 11px; 
        font-size: 16px; 
    }

    #login_form button{
    font-size: 18px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    height: 37px;
    /* margin-bottom: 34px; */
    border-radius: 5px;
    margin-top: 0px;
    }

}